<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
    <style>
        .aa {
            border: 3px red solid;
        }
    </style>
</head>
<body>
<div id="app">
    <h3>msg</h3>
    <hr>

    <h3 v-for="user in users">
        username: {{user.name}}
    </h3>
    <h3 v-for="city in cities">
        city: {{city.toUpperCase()}}
    </h3>
    <hr>

    <span v-text="test3">No matter what here is</span>
    <br>
    <span>No matter what here is</span>
    <hr>

    <span v-html="link"></span>
    <br>
    <span>{{link}}</span>
    <hr>
    <span>年龄: {{age}}</span>
    <input type="button" value="增加" @click="add_age">
    <input type="button" value="减少" @click="sub_age">
    <hr>

    <span>参数传递: {{number}}</span>
    <input type="button" value="改变" @click="param_convey(1989)">
    <hr>

    <span v-show="toShow">v-show用法： {{msg}}</span>
    <input type="button" value="change" @click="show">
    <hr>

    <span v-if="true">{{test1}}</span>
    <span v-else>{{test2}}</span>
    <hr>

    <img :src="src" :title="title" :class="{aa: showCss}">
    <input type="button" value="change" @click="change_css">

    <input type="text" v-model="message">
    <p>{{message}}</p>
    <hr>





</div>

<script>
    new Vue({
        el:"#app",
        data:{
            msg:"hi",
            users:[{'name':'Andy'},{'name':'Andrew'},{'name':'Allen'}],
            cities:['Beijing','Taiyuan','Xiamen'],
            test1:'test1 shows',
            test2:'test2 shows',
            test3:'v-text shows',
            link:'<a href=\'\'>link</a>',
            age:21,
            number:1999,
            toShow:true,
            src: "https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3469716026,2816395410&fm=26&gp=0.jpg",
            title: "二哈",
            showCss: true,
            message:'enchanted',


        },
        methods:{
            add_age(){
                this.age++;
            },
            sub_age(){
                this.age--;
            },
            param_convey(number){
                this.number = number;
            },
            show(){
                this.toShow = !this.toShow;
            },
            change_css(){
                this.showCss = !this.showCss;
            }
        }
    })
</script>

</body>
</html>